Aditya Aggarwal 18803011 B13

In [1]:
import requests
from bs4 import BeautifulSoup
markup = requests.get(f'http://quotes.toscrape.com/').text
soup = BeautifulSoup(markup, 'html.parser')
quotes = []
for item in soup.select('.quote'):
    quote = {}
    quote['text'] = item.select_one('.text').get_text()
    quote['author'] = item.select_one('.author').get_text()
    tags = item.select_one('.tags')
    quote['tags'] = [tag.get_text() for tag in tags.select('.tag')]
    quotes.append(quote)
text = []
author = []
for quote in quotes:
    text.append(quote['text'])
    author.append(quote['author'])

In [2]:
import pandas as pd
# data = ["Quotes":text[:],"Authors":author[:]]
df = pd.DataFrame(list(zip(author, text)),
columns =['Authors', 'Quotes'])
df

             Authors                                             Quotes
0    Albert Einstein  “The world as we have created it is a process ...
1       J.K. Rowling  “It is our choices, Harry, that show what we t...
2    Albert Einstein  “There are only two ways to live your life. On...
3        Jane Austen  “The person, be it gentleman or lady, who has ...
4     Marilyn Monroe  “Imperfection is beauty, madness is genius and...
5    Albert Einstein  “Try not to become a man of success. Rather be...
6         André Gide  “It is better to be hated for what you are tha...
7   Thomas A. Edison  “I have not failed. I've just found 10,000 way...
8  Eleanor Roosevelt  “A woman is like a tea bag; you never know how...
9       Steve Martin  “A day without sunshine is like, you know, nig...